<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <style>
    table, th, td {
       border: 1px solid black;
    }
 </style>
</head>

<body>
  <div class="p-5 mb-4 bg-light rounded-3">
<div class="container-fluid py-5">
  <h1 class="display-5 fw-bold">Telecom Demographics Prediction</h1>
  <p class="col-md-8 fs-4">&nbsp;&nbsp;A model that will predict the demographics of certain users, i.e., their age and gender.The model is built by using the data on the users' app downloads and user behavior.</br> 
  <h2 class="display-8 fw-bold"> Gender Prediction-Based Campaigns</h2>
<ul>
<li>Campaign 1: Specific personalised fashion-related campaigns targeting female customers </li>
<li>Campaign 2: Specific cashback offers on special days (International Women’s Day etc) targeting female customers</li>
<li>Campaign 3: Personalised call and data packs targeting male customers</li>
 </ul>
<h2 class="display-8 fw-bold">Age Prediction-Based Campaigns</h2>
<ul>
<li>Campaign 4: Bundled smartphone offers for the age group [0-24]</li>
<li>Campaign 5: Special offers for payment wallet offers [24-32]</li>
<li>Campaign 6: Special cashback offers for Privilege Membership [32+]</li>
</ul>
  <a href="/age" class="btn btn-primary btn-lg " tabindex="-1" role="button" aria-disabled="true">Age Analysis</a>

  <a href="/gender" class="btn btn-primary btn-lg " tabindex="-1" role="button" aria-disabled="true">Gender Analysis</a>
</div>
</div>
<div >
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted"> &nbsp;&copy; 2021 Upgrad Capstone,</br>&nbsp;Prajwal Pai</br>&nbsp;Ritesh Upadyaya</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="/age" class="nav-link px-2 text-muted">Age</a></li>
      <li class="nav-item"><a href="/gender" class="nav-link px-2 text-muted">Gender</a></li>
    </ul>
  </footer>
</div>
</body>
